:root {
  --button_height: 48;
  --button_padding-horizontal: 24;
  --button_padding-vertical: 16;
  --button_font-size: 14;
  --button_background-color: #292b33;
  --button_color: #ffffff;
  --button_hover-background-color: #3d67ef;
  --button_hover-color: #ffffff;
  --button_border-radius: 8;
}

