
html,
body {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

img, svg {
  vertical-align: middle;
}

iframe {
  border-width: 0;
}

button {
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
